In [4]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from transformers import DistilBertTokenizer

In [4]:
df = pd.read_csv('./model/datasets/spam_ham_dataset.csv')
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [5]:
df = df.drop('Unnamed: 0', axis=1)
df = df.drop('label', axis=1)

In [6]:
df = df.rename(columns={'label_num': 'spam'})
df.shape

(5171, 2)

In [7]:
df1 = pd.read_csv('./model/datasets/emails.csv')
df1.shape

(5728, 2)

### COMBINE 2 DATASETS

In [8]:
combined_df = pd.concat([df, df1], ignore_index=True)
output_file = "./model/datasets/emails_dataset.csv"
combined_df.to_csv(output_file, index=False)

In [9]:
combined_df.head()

                                                text  spam
0  Subject: enron methanol ; meter # : 988291\r\n...     0
1  Subject: hpl nom for january 9 , 2001\r\n( see...     0
2  Subject: neon retreat\r\nho ho ho , we ' re ar...     0
3  Subject: photoshop , windows , office . cheap ...     1
4  Subject: re : indian springs\r\nthis deal is t...     0